body {
    background-color: #FFFFF0;
    margin: 0;
    width: 100%;
}

.header {
    display: flex;
    padding: 30px 0 20px 0;
    justify-content: space-between;
    background-color: firebrick;
    color: floralwhite;
    margin-bottom: 5px;
}

.header h1 {
    display: inline;
    flex: 0 1 auto;
    font-size: 28pt;
    margin-left: 15px;
}

.nav li {
   display: inline;
   margin-right: 15px;
   font-size: 18pt;
   
}

.nav a {
    text-decoration: none;
    color: white;
    flex: 0 1 auto;
}

.headerimage {
    clear: both;
    height: 75px;
    width: 100%;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 88%;
    color: #4b4e52;
    ;
} 

.about-me {
    min-width: 1024px;
    min-height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-me aside {
    order: 1;
    flex: 1 0 15%;
    display: inline-block;
    border-right: 5px solid firebrick;
    padding: 20px;
    font-size: 24pt;
    margin-left: 15px;
    text-align: right;
    background-color: cornsilk;
}

.about-me p {
    order: 2;
    flex: 1 0 80%;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    padding: 25px 25px 0 25px;
    text-align: justify;
    background-color: cornsilk;
    
}

.work {
    min-width: 1024px;
    min-height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.work aside {
    order: 1;
    flex: 1 0 15%;
    display: inline-block;
    border-right: 5px solid firebrick;
    padding: 20px;
    font-size: 24pt;
    margin-left: 15px;
    text-align: right;
    background-color: cornsilk;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-fill: auto;
    padding: 0 45px 0 30px;
    flex: 1 0 80%;
    order: 2;
}

.image1, .image2, .image3, .image4 {
flex: 1 0 100%;
margin-right: 20px;
display: inline;
border-color: #800000;
border-style: solid;
border-width: 3.5px;
margin: 20px;
opacity: 1;
max-width: 100%;
max-height: 100%;
height: 400px;
width: 100vw;
box-shadow: 1px 1px 1px 1px rgb(92, 82, 82);
background-color: cornsilk;
padding: 8px;
position: relative;

}

.text-box {
position: absolute;
background-color: firebrick;
color: white;
padding: 20px;
font-size: 20px;
display: block;
left: 20px;
bottom: 20px;
}

.image1:hover, .image2:hover, .image3:hover, .image4:hover, .image5:hover  {
    opacity: 0.7;
    border-color: #eb482c;

}

.image5 {
    flex: 1 0;
    display: inline-block;
    margin: 20px;
    border-color: #800000;
    border-style: solid;
    border-width: 3.5px;
    margin: 20px;
    opacity: 1;
    max-width: 100vw;
    max-height: 100%;
    height: 400px;
    width: 100vw;
    box-shadow: 1px 1px 1px 1px rgb(92, 82, 82);
    background-color: cornsilk;
    padding: 8px;
    object-fit: cover;
 
}

footer {
    display: flex;
    justify-content: flex-start;
    padding: 30px 0 20px 0;
    justify-content: space-between;
    background-color: firebrick;
    color: floralwhite;
    margin-bottom: 5px;
    width: 100%;
}

footer h2 {
    display: inline;
    flex: 0 1 auto;
    font-size: 28pt;
    margin-left: 15px;
    width: 10%;
}

footer li {
   display: inline;
   width: 85%;
   margin: 15px;
   font-size: 18pt;
   
}

footer a {
    text-decoration: none;
    color: white;
    flex: 0 1 auto;
}
