body {
    background-color: #FFFFF0;
}


.header {
    display: flex;
    padding: 30px 0 20px 0;
    justify-content: space-between;
    background-color: firebrick;
    color: floralwhite;
    margin-bottom: 5px;
}

.header h1 {
    display: inline;
    flex: 0 1 auto;
    font-size: 28pt;
    margin-left: 15px;
}

.nav li {
   display: inline;
   margin-right: 15px;
   font-size: 18pt;
   
}

.nav a {
    text-decoration: none;
    color: white;
    flex: 0 1 auto;
}

.headerimage {
    clear: both;
    height: 75px;
    width: 100%;
    margin-bottom: 20px;
}

main {
    width: 85%;
    margin-right: 20px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.work {
    flex: 2;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    position: relative;

}

.text-box header {
    color: #FFFACD;
    background-color: #800000;
    width: 100%;
}

.text-box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #800000;
    color: #FFFACD;
    padding-left: 20px;
    padding-right:20px;
}

.project {
    position: relative;
    margin: 5px;
    text-align: center;
}

/*.text-block {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
} */

.work img {
    border-color: #800000;
    border-style: solid;
    border-width: 2px;
    
}

