body {
    background-color: #FFFFF0;
    margin: 0;
}

.header {
    display: flex;
    padding: 30px 0 20px 0;
    justify-content: space-between;
    background-color: firebrick;
    color: floralwhite;
    margin-bottom: 5px;
}

.header h1 {
    display: inline;
    flex: 0 1 auto;
    font-size: 28pt;
    margin-left: 15px;
}

.nav li {
   display: inline;
   margin-right: 15px;
   font-size: 18pt;
   
}

.nav a {
    text-decoration: none;
    color: white;
    flex: 0 1 auto;
}

.headerimage {
    clear: both;
    height: 75px;
    width: 100%;
    margin-bottom: 20px;
}

main {
    width: 85%;
    margin-right: 20px;
    float: right;
}

.about-me {
    margin-bottom: 10px;
    text-align: justify;
    width: 95%;
}


.projects {
    clear: both;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 5ps 10px 5px;
    display: flex;
    flex-wrap: wrap;
    width: 92%;
}

.text-box {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: black;
    color: white;
    padding: 10px;
}

.projects img {
    border-color: #800000;
    border-style: solid;
    border-width: 3.5px;
    flex: 1 0 auto;
    box-shadow: 1px 1px 1px 1px rgb(54, 14, 14);
    margin: 6px;
    align-items: center;
}

.projects > section {
    flex: 0 50%;
}

aside { 
    display: inline-block;
    border-right: 1px solid rgb(41, 40, 40);

}

@media screen and (max-width: 320px) {
    .projects img, .about-me {
        flex-direction: column;
        max-width: 100vw;
        height: auto;
    }

}

